<div class="jumbotron mb-0 mt-5 jumbotron-fluid banner">
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">The hottest saunas in town!</h1>
    <%= link_to "View all saunas", saunas_path, :class => "btn btn-primary" %>
  </div>
</div>
