<div class="jumbotron mb-0 mt-5 jumbotron-fluid banner">
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-primary" href="#">Book now</a>
  </div>
</div>
