<div class="banner">
  <div class="container align-middle">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>
