  <%= form_tag saunas_path, class: "search-form flex-grow-1", method: :get do %>
    <div class="input-group" id="search-bar">
      <%= text_field_tag :query,
        params[:query],
        id: "search-field",
        class: "form-control shadow-none",
        placeholder: "Find your dream sauna!"
      %>
      <div class="input-group-btn">

        <div type="submit" name="commit" value="Search" class="btn btn-outline-secondary" data-disable-with="Search" id="search-btn" >
          <%= icon("fas", "search") %>
        </div>
      </div>
    </div>
  <% end %>
