// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0A85F5;
$yellow: hsl(39, 100%, 68%);
$orange: #f57a0a;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;
$black: black;
