.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.squarespace-cdn.com/content/v1/5deb6c2d549fd531b262c9f9/1618395640154-U4V1OECJ5I8G1QI6MCAH/Scandinavian%2BSauna%2Bwith%2Bregular%2BAspen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
