.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-item {
  display: table;
}

#list-sauna-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: $orange;
  font-weight: 600;
}

.dropdown-toggle {
  border-color: $orange;
  background-color: $orange;
  color: $white;
}
