


 <div class="cards">
  <% @saunas.each do |sauna| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= sauna.image_url %>');">
      <%= link_to sauna.title, sauna_path(sauna), :style => "text-decoration: none; color: inherit;" %>
    </div>
  <% end %>
</div>
